- if (typeof(user) != 'undefined')
    p You are already logged as #{user.name}.

- else
    form#reset-password(method='post', action='/reset-password')
        p
            label Username
            input(name='user[name]', autofocus)
        p
            label Email 
            input(name='user[email]')
        p
            input(name='submit', type='submit', value='Reset my password')

#message
